* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-areas:
        "lateral cabecalhohome cabecalhohome"
        "lateral conteudohome conteudohome"
        "lateral rodapehome rodapehome";
    grid-template-columns: 200px auto auto;
    grid-template-rows: auto 90vh;
}


.cabecalhohome {
    background-color: #04C9F4;
    color: #FFFFFF;
    grid-area: cabecalhohome;
    height: 45px;
}

.cabecalhohome p {
    padding-left: 35px;
    padding-top: 10px;
    font-size: 20px;
}

.lateral{
    background-color: #D9D9D9;
    grid-area: lateral;
}


.lateral ol{
    color: #FFFFFF;
    list-style: none;
    text-align: center;
    background-color: #04C9F4;
}

.lateral section li{
    background-color: #D9D9D9;
}

.lateral li {
    padding: 10px;
    border-bottom: solid 1px #FFFFFF;
}

.lateral a{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;  
}

.lateral a:hover{
color: black;
}

.conteudohome {
    background-color: #E7E7E7;
    grid-area: conteudohome;
}

img {
    width: 622px;
    padding-top: 200px;
}

.conteudohome p {
    text-align: center;
}

.rodapehome {
    background-color: #FFFFFF;
    color: #04C9F4;
    grid-area: rodapehome;
    height: 76%;
    text-align: center;
    padding-top: 20px;
}



@media screen and (max-width: 1080px) {
    body {
        grid-template-areas:
            "cabecalhohome cabecalhohome cabecalhohome"
            "lateral lateral lateral"
            "conteudohome conteudohome conteudohome"
            "rodapehome rodapehome rodapehome";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 84vh auto;
    }


    .cabecalhohome {
        width: 101vw;
    }

    .cabecalhohome p{
    font-size: 18px;
    }

    .lateral ol {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .lateral li {
        border: solid 1px #FFFFFF;
        background-color: #04C9F4;
        font-size: 10.5px;
    }

    .lateral section{
        display: flex;
        justify-content: flex-start;

    }


    .lateral section li{
        width: 75px;
        background-color: #E7E7E7;

    }

    .lateral nav a {
        color: #FFFFFF;
    }

    img {
        padding: 50px;
        padding-top: 100px;
        width: 100vw;
    }

.rodapehome{
    width: 100vw;
}

}
